<!DOCTYPE html>
<html>
<head>
    <title>ZPanel: Application Approved</title>
</head>
<body>
    <h1>Congratulations, {{name}}!</h1>
    <p>Your application to join the ZPanel platform has been approved.</p>
    <p>Here are your login details:</p>
    <ul>
        <li>Email: <b>{{email}}</b></li>
        <li>Temporary Password: <b>{{password}}</b></li>
    </ul>
    <p>Please use the following link to sign in and change your password:</p>
    <p><a href="{{url}}">Sign In to ZPanel</a></p>
    <p>If you have any questions, feel free to contact our support team.</p>
    <p>Welcome to ZPanel!</p>
</body>
</html>
