<!DOCTYPE html>
<html>
<head>
    <title>ZPanel: Account Deletion Notification</title>
</head>
<body>
    <h1>Hello, {{name}}!</h1>
    <p>We regret to inform you that your account ({{account}}) on the ZPanel platform has been deleted.</p>
    <br/>
    <p>If you believe this was a mistake or have any questions, please contact our support team at <a href="mailto:{{supportEmail}}">{{supportEmail}}</a>.</p>
    <p>Thank you for your understanding.</p>
    <br/>
    <p>Best regards,</p>
    <p>The ZPanel Team</p>
</body>
</html>